body {
    background-color: #232323;
    color: #363636;
}

/*** BTN STYLING ***/
.btn-black { 
    color: aliceblue; 
    background-color: #232323;
    border-color: #000000;
    box-shadow: 2px 2px 2px #363636;
}
.btn-black:hover, 
.btn-black:focus, 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
color: #D6FB05; 
background-color: #000000; 
border-color: #000000; 
} 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
background-image: none; 
} 
.btn-black.disabled, 
.btn-black[disabled], 
fieldset[disabled] .btn-black, 
.btn-black.disabled:hover, 
.btn-black[disabled]:hover, 
fieldset[disabled] .btn-black:hover, 
.btn-black.disabled:focus, 
.btn-black[disabled]:focus, 
fieldset[disabled] .btn-black:focus, 
.btn-black.disabled:active, 
.btn-black[disabled]:active, 
fieldset[disabled] .btn-black:active, 
.btn-black.disabled.active, 
.btn-black[disabled].active, 
fieldset[disabled] .btn-black.active { 
background-color: #232323; 
border-color: #000000; 
} 
.btn-black .badge { 
color: #232323; 
background-color: #D6FB05; 
}
/*** END BTN STYLING ***/

h1 strong {
    color: #d6fb05;
    /* color: #D9E021;
    color: #ffff00; */
}
h2 {
    border-bottom: 1px solid #cdcdcd;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}
h3 {
    /* color: #ff6666; */
    color: #a94442;
    font-size: 1.4;
    font-weight: 600;
}
p {
    font-size: 1.5em;
    line-height: 1.3em;
}
em { font-weight: 700; }
.container {
    background-color: #efefef;
}
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
    padding: 0 15px;
}
.jumbotron {
    background: url(../img/coach_inner_circle.jpg) no-repeat center left;
    background-size: cover;
    height: 350px;
    margin-bottom: 15px;
    padding: 0;
}
.jumbotron .h1, .jumbotron h1 {
    color: aliceblue;
    font-size: 2.5em;
    line-height: 1em;
    margin-top: 0;
    text-shadow: 2px 2px 3px black;
}
.home-header {
    background: url(../img/coach_inner_circle.jpg) no-repeat center left;
    background-size: cover;
}
.logo {
    padding: 20px 0 17px 0;
    margin: 0;
    text-align: center;
}
.logo-text {
    padding-left: 40px;
    text-align: left;
}
nav {
    font-size: 1.3em;
    height: 50px;
    position: relative;
    top: 300px;
    width: 100%;
}
a {
    color: #aaaaaa;
}
.navbar-inverse .navbar-nav>li>a {
    color: aliceblue;
}
.navbar-inverse .navbar-nav>li>a:hover, a:hover {
    color: #d6fb05;
}
a:hover {
    color: #d6fb05;
    text-decoration: none;
}
p a:hover {
    text-shadow: 2px 2px #111111
}
.dropdown-menu {
    right: 0 !important;
}
.dropdown-menu>li>a {
    font-size: 1.25em;
}
.dropdown-menu>li>a:hover {
background-color: #232323;
color: #d6fb05;
}
.pad {
    padding: 10px 40px 20px 40px;
}
.no-pad {
    padding: 0;
}
#mission {
    background-color: #111111;
    color: lightgrey;
    text-align: center;
}
.blurb {
    font-size: .95em;
    text-align: center;
}
.marketing img {
    height: auto;
    width: 100%;
}
.img-right {
    margin-right: 15px;
}
.img-rigt {
    margin-left: 15px;
}
#programs h3 {
    margin-top: 0;
}
#programs img {
    border-bottom: 2px solid #888888;
    border-right: 1px solid #aaaaaa;
    box-shadow: none;
    margin-right: 15px;
    /* display: inline-block; */
}
.hidden_content {
    display: none;
}

/*** ABOUT PAGE ***/
.about-header {
    /* background: linear-gradient(to right, black, #363636) !important; */


    /* background-image: url(../img/brendan_sullivan.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    color: aliceblue;
    height: 350px;
    padding: 0 15px; */
}
#about i {
    font-style: italic;
    color: #686868;
}
.navbar-inverse {
    margin-bottom: 0px;
}
/*** END ABOUT PAGE ***/

/*** PROGRAMS PAGE ***/

/*** END PROGRAMS PAGE ***/


/*** CLIENTS PAGE ***/
#directive {
    color: #a94442;
    /* font-size: 1.35em; */
    text-align: center;
}
.nav-tabs>li>a {
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    font-size: 18px;
}
.nav-tabs>li>a:hover {
    background-color: #363636;
}
.tab-content {
    padding: 20px 0;
    text-align: center;
}
.pills {
    background-color: lightblue;
    border-radius: 25px;
    box-shadow: 1px 1px 2px grey;
    color: steelblue;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 2.2em;
    margin: 0 2px;
    padding: 5px 15px;
    text-align: center;
}
img {
    box-shadow: 1px 3px 5px #363636; 
}
.item {
    height: 250px;
    margin: 0 auto;
    padding: 0 10%;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}
blockquote {
    border-left: none;
    color: #337ab7;
    font-size: 1.5em;
    vertical-align: center;
}
.fa {
    font-size: 1.25em;
    text-shadow: 1px 1px 1px #aaaaaa;

}
.client {
    font-size: 2em;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px #888888;
}
.credit {
    font-size: 1.3em;
    color: #686868;
    line-height: .3em;
}
.carousel-control {
    color: #D6FB05;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -30px;
    opacity: 1;
}
.carousel-control .btn-black {
    font-weight: 900;
    font-size: 2em;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

/*** NOVEL PAGE ***/
#novel img {
}
#bookcover, #featured {
    padding: 0;
}
#bookstores {
    padding-left: 0;
}
#bookstores img {
    height: auto;
    box-shadow: none;
    padding-bottom: 7px;
    width: 100%;
}
#bookcover img{
    height: auto;
    width: 100%;
}
#novel blockquote {
    line-height: 1.15em;
    margin-bottom: 5px;
    padding: 0;
}
#book-testimonial p {
    font-size: 1.25em;
}
#ebooks {
    background-color: #363636;
    color: aliceblue;
    margin-top: 15px;
    padding: 15px 20px;
}
#ebooks p { margin: 0; }
/*** END NOVEL PAGE ***/

/*** TEACHERS PAGE ***/
blockquote {
    margin-bottom: 0;
    line-height: 1.25em;
}
/*** END NOVEL PAGE ***/

.modal-header {
    text-align: center;
}
.modal-body p {
    font-size: 1.1em;
    text-align: center;
}
.modal-body p span {
    /* color: #6495ed; */
    color: #337ab7;
    font-size: 1.25em;
    font-weight: bold;
}
form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
form span {
    color: red;
    font-size: 1.20em;
    font-weight: bold;
}
.form-group {
    margin-bottom: 5px;
}
.form-group {
    width: 100%;
}
.input-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}
.form-group.city {
    margin-right: 10px;
    width: 60%;
}
.form-group.state {
    margin-right: 10px;
    width: 13%;
}
.form-group.zip {
    width: 20%;
}
.form-group.phone {
    margin-right: 10px;
    width: 45%;
}
.form-group.email {
    width: 50%;
}
.form-group.org {
    margin-right: 10px;
    width: 31%;
}
.form-group.time {
    margin-right: 10px;
    width: 31%;
}
.form-group.ref {
    width: 31%;
}
.alert {
    color: red;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.input-error {
    color: red;
}
.success {
    color: green;
}
.form-group.submit {
    /* margin-right: 10px; */
    width: 48%;
}
.form-group.cancel {
    width: 48%;
}
textarea.form-control {
    height: 150px;
    width: 100%;
    resize: none;
}
.btn-group-lg>.btn, .btn-lg {
    float: none;
    margin: 20px 0;
    padding: 2% 15%;
}
/*** END CLIENTS PAGE ***/
footer {
    font-size: .7em;
}
footer.well {
    margin-bottom: 0;
}


/*** X-LARGE SCREEN ***/
@media only screen and (max-width: 5000px) {
    body {
        /* background-color: rgb(0, 0, 255); */
    }
    .logo-text {
        padding-left: 65px;
        text-align: left;
    }
}

/* @media screen and (max-width: 1920px) {
    .logo-text {
        padding-left: 60px;
    }
} */

/*** LARGE SCREEN ***/
@media only screen and (max-width: 1200px) {
    body {
        /* background-color: rgb(0, 128, 0); */
    }
    .logo-text {
        padding-left: 38px;
        text-align: left;
    }
    #myNavbar {
        padding: 0;
    }
    .dropdown-menu {
        left: -65px;
        /* right: 20px; */
    }
    #programs img {
        height: 170px;
        width: 255px;
    }
}

/*** MEDIUM SCREEN ***/
@media only screen and (max-width: 992px) {
    .dropdown-toggle.btn-black {
        display: block;
    }
    body {
        /* background-color: rgb(255, 255, 0); */
    }
    .jumbotron {
        background: url(../img/coach_inner_circle.jpg) center center;
    }
    .logo {
        margin-top: 40px;
        margin-left: 20px;
        text-align: none;
    }
    .logo-image {
        width: 118px;
    }
    .logo-image svg {
        height: 150px;
        width: 150px;
    }
    .logo-text {
        margin-top: 15px;
        padding-left: 5px;
        text-align: left;
    }
    nav {
        width: 100%;
    }
    .dropdown-menu>li>a {
        font-size: 1em;
    }
    
    h3 {
        text-align: center;
    }
    .marketing h3 {
        color: aliceblue;
        font-size: 2.5em;
    }
    .marketing a {
        text-shadow: none;
        box-shadow: 2px 2px 3px #111111;
    }
    .marketing img {
        display: none;
    }
    .blurb {
        color: #ff3300;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 2px 0px #111111;
        padding: 165px 50px 20px;
    }
    #development {
        background: url(../img/team_development.jpg) no-repeat center top;
        background-size: cover;
    }
    #thinking {
        background: url(../img/thinking_skills.jpg) no-repeat center center;
        background-size: cover;
    }    
    #ideation {
        background: url(../img/ideation_sessions.jpg) no-repeat center bottom;
        background-size: cover;
    }
}

/*** SMALL SCREEN ***/
@media only screen and (max-width: 768px) {
    .container {
        padding: 0;
        margin: 0;
    }
    .navbar {
        border-radius: 0px;
    }
    nav {
        float: none;
        position: fixed;
        top: 0;
    }
    nav ul.dropdown-menu {
        background-color: rgb(54, 54, 54, 0.5);
        font-size: 1em;
        line-height: 4em;
        left: -100px;
    }
    .dropdown-menu>li>a {
        color: #efefef;
    }
    .dropdown-menu>li>a:focus, 
    .dropdown-menu>li>a:hover {
        color: #d6fb05;
    }
    .jumbotron {
        margin-top: 50px;
    }
    .logo {
        margin-top: 160px;
    }
    .well {
        padding-left: 0;
        padding-right: 0;
    }
    #mission p, #about p, #programs p, #clients p,
    #services p, #teachers p, #novel p {
        padding-left: 15px;
        padding-right: 15px;
    }
    img { margin-left: 0;  }
    #about img {
        height: auto;
        margin-top: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    #about btn .btn-black {
        margin: 0 auto;
    }
    #programs img {
        height: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    #programs h3 {
        text-align: center;
    }
    #clients .nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #testimony {
        margin-left: 0;
        margin-right: 0;
    }
    .item, blockquote {
        padding-left: 10px;
        padding-right: 10px;
    }
    .carousel-inner {
        height: 345px;
    }
    .carousel-control {
        bottom: 0;
        vertical-align: bottom;
        height: 75px;
        margin-top: 0;
    }
    .carousel-control.left,
    .carousel-control.right {
        height: 75px;
        vertical-align: bottom;
    }
    #bookstores {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 15px;
        text-align: center;
    }
    #bookstores a img {
        height: auto;
        width: 110%;
    }
    #bookcover {
        margin-bottom: 20px;
    }
    #ebooks {
        margin-bottom: 20px;
    }
    #novel h3 {
        font-size: 3em;
    }
}

/*** X-SMALL SCREEN ***/
@media only screen and (max-width: 576px) {
    .jumbotron {
        /* background-image: none; */
    }
    .logo {

    }
    body {
        /* background-color: rgb(255, 0, 0); */
    }
}

/*** XX-SMALL SCREEN ***/
@media only screen and (max-width: 325px) {
    nav {
        padding: 0;
        float: none;
    }
    .jumbotron {
        /* background-image: none; */
    }
    body {
        /* background-color: black; */
    }
    .logo {
        margin-top: 195px;
    }
    .logo-image svg {
        height: 100px;
        width: 100px;
    }
    .logo-text h1 {
        font-size: 1.6em;
        margin-left: -30px;
    }
}