/*** GLOBAL ATTRIBUTES ***/
body {
    background-color: #232323;
    color: #363636;
}

h1 strong { color: #d6fb05; }

h2 {
    border-bottom: 1px solid #cdcdcd;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}
h3 {
    color: #888888;
    font-size: 1.4;
    font-weight: 600;
}
p {
    font-size: 1.5em;
}

em { font-weight: 700; }

.container { background-color: #efefef; }

.container .jumbotron, 
.container-fluid .jumbotron {
    border-radius: 0;
    padding: 0 15px;
}
.jumbotron {
    height: 350px;
    margin-bottom: 15px;
    padding: 0;
}

.pad { padding: 10px 40px 20px 40px; }

.no-pad { padding: 0; }

.img-right { margin-right: 15px; }

.img-rigt { margin-left: 15px; }

footer { font-size: .7em; }

footer.well { margin-bottom: 0; }
/*** END GLOBAL ATTRIBUTES ***/

/*** MODAL ***/
.modal-header { text-align: center; }

.modal-body p {
    font-size: 1.1em;
    text-align: center;
}
.modal-body p span {
    color: #337ab7;
    font-size: 1.25em;
    font-weight: bold;
}
form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
form span {
    color: red;
    font-size: 1.20em;
    font-weight: bold;
}
.form-group { margin-bottom: 5px; }

.form-group { width: 100%; }

.input-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}
.form-group.city {
    margin-right: 10px;
    width: 60%;
}
.form-group.state {
    margin-right: 10px;
    width: 13%;
}

.form-group.zip { width: 20%; }

.form-group.phone {
    margin-right: 10px;
    width: 45%;
}

.form-group.email { width: 50%; }

.form-group.org {
    margin-right: 10px;
    width: 31%;
}
.form-group.time {
    margin-right: 10px;
    width: 31%;
}

.form-group.ref { width: 31%; }

.alert {
    color: red;
    font-size: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.input-error { color: red; }

.success { color: green; }

.form-group.submit { width: 48%; }

.form-group.cancel { width: 48%; }

textarea.form-control {
    height: 150px;
    width: 100%;
    resize: none;
}
.btn-group-lg>.btn, .btn-lg {
    float: none;
    margin: 10px 0 20px 0;
    padding: 2% 15%;
}
/*** END MODAL ***/

/*** BTN STYLING ***/
.btn-black { 
    background-color: #232323;
    border-color: #000000;
    box-shadow: 2px 2px 2px #363636;
    color: aliceblue; 
}
.btn-black:hover, 
.btn-black:focus, 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
    background-color: #000000; 
    border-color: #000000; 
    color: #D6FB05; 
} 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
    background-image: none; 
} 
.btn-black.disabled, 
.btn-black[disabled], 
fieldset[disabled] .btn-black, 
.btn-black.disabled:hover, 
.btn-black[disabled]:hover, 
fieldset[disabled] .btn-black:hover, 
.btn-black.disabled:focus, 
.btn-black[disabled]:focus, 
fieldset[disabled] .btn-black:focus, 
.btn-black.disabled:active, 
.btn-black[disabled]:active, 
fieldset[disabled] .btn-black:active, 
.btn-black.disabled.active, 
.btn-black[disabled].active, 
fieldset[disabled] .btn-black.active { 
    background-color: #232323; 
    border-color: #000000; 
} 
.btn-black .badge { 
    background-color: #D6FB05; 
    color: #232323; 
}
/*** END BTN STYLING ***/

/*** NAVIGATION ***/
.jumbotron h1 {
    color: aliceblue;
    font-size: 2.5em;
    line-height: 1em;
    margin-top: 0;
    text-shadow: 2px 2px 3px black;
}
.home-header {
    background: url(../img/coach_inner_circle.jpg) no-repeat center;
    background-size: cover;
}
.logo {
    margin: 0;
    padding: 20px 0 17px 0;
    text-align: center;
}
.logo-text {
    padding-left: 40px;
    text-align: left;
}
nav {
    font-size: 1.3em;
    height: 50px;
    padding: 0;
    position: relative;
    top: 300px;
    width: 100%;
}
a { color: slategrey; font-weight: 700; }

a:hover {
    color: orangered;
    text-decoration: none;
}
.navbar, #myNavbar {padding:0}
.navbar-inverse .navbar-nav>li>a {
    color: aliceblue;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #d6fb05;
}
.dropdown-menu { right: 0 !important; }

.dropdown-menu>li>a { font-size: 1.25em; }

.dropdown-menu>li>a:hover {
background-color: #232323;
color: #d6fb05;
}
/*** END NAVIGATION ***/

/*** INDEX PAGE ***/
#mission {
    background: linear-gradient(to top, #111111, #363636);
    color: #efefef;
    text-align: center;
}
.blurb {
    font-size: .95em;
    text-align: center;
}
.panel { padding: 10px; }

.panel-default>.panel-heading{
    background: linear-gradient(to top, #111111, #363636);
    padding: 1px 0; 
}
.panel-default>.panel-heading h3{
    color: #ffffff;
    margin: 0;
    padding:15px;
}

.panel-body { padding: 15px 0 0; }

#index-programs img {
    height: auto;
    width: 100%;
}
.index-services, .index-teachers {
    padding-left: 30%;
    text-align: left;
}
.list-group-item h4 {
    margin: 0;
}
#index-clients p {
    margin-bottom: 20px;
    text-align: center;
}
.client-list {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.client-list img {
    padding: 0 15px;
}
a.list-group-item:hover {
    background: #232323;
    color: #d6fb05;
}
.business-card .logo-bc { margin: 150px 0 0 25px; } */
/*** END INDEX PAGE ***/

/*** ABOUT PAGE ***/

/* .about-header {
    background-image: url(../img/about2.jpg);
    background-position-x: 50%;
    background-position-y: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    height: 350px;
    padding: 0 15px;
} */

.headshot { width: 420px; }

#about i {
    color: #686868;
    font-style: italic;
}

.navbar-inverse { margin-bottom: 0px; }
/*** END ABOUT PAGE ***/

/*** PROGRAMS PAGE ***/
#programs h3 { margin-top: 0; }

#programs img {
    border-bottom: 2px solid #888888;
    border-right: 1px solid #aaaaaa;
    box-shadow: none;
    margin-right: 15px;
}
/*** END PROGRAMS PAGE ***/

/*** CLIENTS PAGE ***/
#clients {
    text-align: center;
}
.nav-tabs>li>a {
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    font-size: 18px;
}

.nav-tabs>li>a:hover { 
    background-color: #363636; 
    color: #d6fb05; 
}
.tab-content { padding: 20px 0; }

.tab-pane {
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.pills {
    background-color: lightblue;
    border-radius: 25px;
    box-shadow: 1px 1px 2px grey;
    display: inline;
    color: steelblue;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 2.2em;
    margin: 0 2px;
    padding: 5px 15px;
}
.item {
    height: 250px;
    margin: 0 auto;
    padding: 0 10%;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}
blockquote {
    border-left: none;
    color: #337ab7;
    font-size: 1.5em;
    line-height: 1.25em;
    margin-bottom: 0;
    vertical-align: center;
}
.fa {
    font-size: 1.25em;
    text-shadow: 1px 1px 1px #aaaaaa;
}
.client {
    font-size: 2em;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px #888888;
}
#clients .nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.credit {
    color: #686868;
    font-size: 1.3em;
    line-height: .3em;
}
.carousel-control {
    color: #D6FB05;
    display: inline-block;
    margin-top: -30px;
    opacity: 1;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.carousel-control .btn-black {
    font-size: 2em;
    font-weight: 900;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.carousel-indicators {
    margin-left: -31.25%;
}
.carousel-indicators li {
    background-color: #aaaaaa;
    border-color: #aaaaaa;
}
/*** END CLIENTS ***/

/*** NOVEL PAGE ***/
#bookstores { padding-left: 0; }

#bookstores img {
    height: auto;
    box-shadow: none;
    padding-bottom: 7px;
    width: 100%;
}
#bookcover img{
    height: auto;
    width: 100%;
}
#novel blockquote {
    line-height: 1.15em;
    margin-bottom: 5px;
    padding: 0;
}
#book-testimonial p { font-size: 1.25em; }

#ebooks {
    background-color: #363636;
    color: aliceblue;
    margin-top: 15px;
    padding: 15px 20px;
}

#ebooks p { margin: 0; }
/*** END NOVEL PAGE ***/

/*** X-LARGE SCREEN ***/
@media only screen and (max-width: 5000px) {
    .logo-text {
        padding-left: 65px;
        text-align: left;
    }
}

/* @media screen and (max-width: 1920px) {
    .logo-text {
        padding-left: 60px;
    }
} */

/*** LARGE SCREEN ***/
@media only screen and (max-width: 1200px) {
    .logo-text {
        padding-left: 38px;
        text-align: left;
    }

    .dropdown-menu { left: -65px; }
    
    #programs img {
        height: 170px;
        width: 255px;
    }
}

/*** MEDIUM SCREEN ***/
@media only screen and (max-width: 992px) {
    .logo {
        margin-top: 40px;
        margin-left: 20px;
        text-align: none;
    }

    .logo-image { width: 118px; }

    .logo-image svg {
        height: 150px;
        width: 150px;
    }
    .logo-text {
        margin-top: 15px;
        padding-left: 5px;
        text-align: left;
    }

    nav { width: 100%; }

    .dropdown-menu>li>a { font-size: 1em; }

    .dropdown-toggle.btn-black { display: block; }
    
    h3 { text-align: center; }

    #index-programs h3 {
        color: #ffffff;
        font-size: 2.75em;
    }

    #index-programs img { display: none; }

    .panel-default>.panel-heading { 
        background: transparent; 
        border: none;
    }
    .panel {
        margin-bottom: 0;
    }
    .panel-body {
        background-color: rgb(54, 54, 54, 0.5);
        color: #ffffff;
        padding: 15px 60px;
    }
    .blurb {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 2px 0px #111111;
        padding: 200px 0 0;
    }
    #development {
        background: url(../img/team_development.jpg) no-repeat center top;
        background-size: cover;
    }
    #thinking {
        background: url(../img/thinking_skills.jpg) no-repeat center center;
        background-size: cover;
    }    
    #ideation {
        background: url(../img/ideation_sessions.jpg) no-repeat left bottom;
        background-size: cover;
    }
    #index-services, #index-teachers {
        padding: 0;
    }
    #index-services .panel-body, #index-teachers .panel-body {
        background-color: inherit;
        color: #686868;
        font-weight: normal;
        padding-left: 20px;
        padding-right: 20px;
        text-shadow: none;
    }

    .headshot { width: 335px; }
}

/*** SMALL SCREEN ***/
@media only screen and (max-width: 768px) {
    .container {
        padding: 0;
        margin-left: -20;
        margin-right: -20;
    }

    .navbar { border-radius: 0px; }

    nav {
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .dropdown-menu>li>a { color: #efefef; }

    .dropdown-menu>li>a:focus, 
    .dropdown-menu>li>a:hover {
        color: #d6fb05;
    }
   
    .navbar-collapse { background-color: rgb(54, 54, 54, 0.5); }

    .navbar-nav { margin: 0; }

    .jumbotron { margin-top: 50px; }

    .logo {
        display: inline-block;
        margin-top: 160px;
        margin-left: 0;
    }
    .well {
        padding-left: 0;
        padding-right: 0;
    }
    #index-clients p, #index-teachers p {
        padding: 0 10px 10px;
    }
    #mission p, #about p, #programs p, #clients p,
    #services p, #teachers p, #novel p {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* .client-list img {
        height: 75px;
        margin: 0 10px;
        padding: 0;
        width: 75px;
    } */
    img { margin-left: 0;  }

    #about img {
        height: auto;
        margin-top: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    
    #about btn .btn-black { margin: 0 auto; }

    #programs img {
        height: auto;
        margin-bottom: 20px;
        width: 100%;
    }

    #programs h3 { text-align: center; }

    #testimony {
        margin-left: 0;
        margin-right: 0;
    }
    .item, blockquote {
        padding-left: 10px;
        padding-right: 10px;
    }

    .carousel-inner { height: 345px; }

    .carousel-control {
        bottom: 0;
        height: 75px;
        margin-top: 0;
        vertical-align: bottom;
    }
    .carousel-control.left,
    .carousel-control.right {
        height: 75px;
        vertical-align: bottom;
    }
    #bookstores {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 15px;
        text-align: center;
    }
    #bookstores a img {
        height: auto;
        width: 110%;
    }
    #bookcover { margin-bottom: 20px; }

    #ebooks { margin-bottom: 20px; }

    #novel h3 { font-size: 3em; }
}

@media only screen and (max-width: 600px) {
    .navbar { 
        padding-right: 0; 
        position: fixed;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #f0f8ff;
    }
    .client-list img {
        height: 90px;
        margin: 0 10px;
        padding: 0;
        width: 90px;
    }
    #index-services .panel-body, #index-teachers .panel-body {
        padding-left: 0;
        padding-right: 0;
    }
    #index-programs .panel-heading h3 {
        font-size: 1.8em;
        padding-bottom: 5px;
    }
    p {
        font-size: 1.3em;
    }
}

/*** X-SMALL SCREEN ***/
@media only screen and (max-width: 480px) {
    .client-list img {
        height: 75px;
        margin: 0 10px;
        padding: 0;
        width: 75px;
    }
    #index-programs .panel-heading h3 {
        font-size: 1.6em;
    }
    #index-programs .panel-body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .carousel-inner {
        height: 430px;
    }
    .carousel-control { top: 80%; }
}


/*** XX-SMALL SCREEN ***/
@media only screen and (max-width: 325px) {
    .logo { margin-top: 195px; }

    .logo-image svg {
        height: 120px;
        width: 120px;
    }
    .logo-text h1 {
        font-size: 1.9em;
        margin-left: -20px;
    }

    #ideation { background-position: left; }

    .client-list img {
        height: 60px;
        margin: 0 10px;
        padding: 0;
        width: 60px;
    }
}